
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                FAQ
                <small>dúvidas frequentes</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">O que eu posso vender no Tarefaz?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            No Tarefaz você pode vender serviços que você quealiza que possa gerar um arquivo digital que será transmitido ao comprador pelo site (músicas, imagens, vídeos, textos, etc).
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Como é feito o Pagamento?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Utilizamos o sistema PagSeguro, uma ferramenta reconhecida e confiável que está no mercado desde 2007.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Tenho garantia que o serviço será entregue?</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Por ser responsabilidade de outros usuários, não podemos garantir a entrega dos serviços, mas a nossa ferramenta de pagaento garante o seu dinheiro de volta caso isso ocorra.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Posso cancelar uma compra?</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Se você decidir cancelar uma compra, entre em contato imediatamente com o vendedor e solicite o cancelamento. Esse processo é feito diretamente entre comprador e vendedor.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Muitas pessoas estão comprando meu serviço mas eu não estou dando conta de realizá-los. Posso bloquear a compra do meu serviço?</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            Sim, você pode inativar o seu serviço para que ooutros usuarios não possam comprar e ativar na hora que preferir.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">O PagSeguro cobra alguma taxa sobre valor da venda?</a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            Sim, o PagSeguro cobra uma taxa de 3,99% sobre o valor do serviço mais R$0,40 por cada transação realizada.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Qual o limite de anúncios que eu posso publicar?</a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            Não há limites para anúncio, fique a vontade para anunciar o quanto quiser, mas recomendamos que tome cuidado para não oferecer mais serviços que pode realizar, ao vender um serviço você assume uma responsabilidade e deve entregar no prazo combinado. Lembre-se que você pode desativar as vendas de um serviço quando quiser.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Vou receber spam no email usado no cadastro?</a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            Não. Só enviaremos emails correspondentes a suas tividades no site.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">O que significa a palavra Tarefaz?</a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">
                            Tarefaz é uma brincadeira com as palavras "tarefa" e "faz". Pode também ser uma referência a "tarefas de A a Z".
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <hr>

</div>

