@{
    ViewBag.Title = "Serviços";
    var totalSegmentos = Request.Url.Segments.Count();

    var numeroPag = 1;

    if (System.Text.RegularExpressions.Regex.IsMatch(Request.Url.Segments[totalSegmentos - 1], @"^\d+$"))
    {
        int numero = int.Parse(Request.Url.Segments[totalSegmentos - 1]);
        numeroPag = numero;        
    }
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Serviços
            <small>catálogo</small>
            <select id="ddlCategoria" class="form-control" style="float:right; display:inline-block; width: 220px"></select>
        </h1>
    </div>
</div>

<div class="container-lines"></div>

<div id="divPagination" class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination"></ul>
    </div>
</div>

<input id="hdnPagina" type="hidden" value="@numeroPag" />

<script type="text/javascript" src="~/Scripts/Pages/servicosPagina.js"></script>