@{
    ViewBag.Title = "Index";
}

<h2>Index Usuário</h2>

<div id="box"></div>
<br />
<a href="~/Usuario/Cadastrar"><span class="glyphicon glyphicon-plus"></span></a>

<script type="text/javascript" src="~/Scripts/Pages/UsuarioIndex.js"></script>