<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Responder Inbox</h4>
</div>
<div class="modal-body" style="height:420px; overflow-x: hidden; text-align:justify;">
    <form id="campoForm">
        <textarea id="txtDescricao" name="Descricao" maxlength="255" class="form-control" style="margin-bottom: 10px;margin-top:40px; width:630px; height:100px;"></textarea>
        <center>
            <img src="~/Content/Images/Site/carteiro_inbox.png" width="230px" />

            <div style="display: inline-block; font-size:18px;">
                <b>
                    Digite sua resposta, clique em enviar.<br />
                    E o resto deixe comigo, eu saberei como prosseguir.
                </b>
            </div>


        </center>

    </form>
</div>

<div class="modal-footer">
    <input id="btnSalvar" class="btn btn-success" style="width:188px; margin-left:340px;" type="button" value="Salvar" />
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

</div>

<script type="text/javascript" src="/Scripts/Pages/ResponderPergunta.js"></script>